.map-container {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0px;
  }
  
  .map-frame {
    border: 10px solid black;
    height: 100%;
  }
  
  #mapa {
    height: 100%;
  }

  @media (max-width: 575.98px) { 
    .map-container {
      position: absolute;
      top: 130px;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0px;
    }
   }
 