<nav class="navbar navbar-dark bg-dark">
  <span class="navbar-brand mb-0 h1">ChemTracker</span>
  <form class="form-inline">
    <a class="nav-link" href="/visualizar"> Ver ubicación actual <span class="sr-only">(current)</span></a>
    <a class="nav-link" href="/insertar">Agregar marcador<span class="sr-only">(current)</span></a>
    <a class="nav-link" href="/datosAlmacenados">Datos Almacenados<span class="sr-only">(current)</span></a>
  </form>
</nav>
<main>
  <router-outlet></router-outlet>
</main>